html, body {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'Gilroy';
	src: url(../fonts/Gilroy-Medium.ttf) format('ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'Gilroy';
	src: url(../fonts/Gilroy-Bold.ttf) format('ttf');
	font-weight: 700;
}

.container{
	margin: 0 250px;
}

.nav-menu-list{
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin-top: 30px;
	margin-bottom: 30px;
}

.nav-menu-item-link{
	text-decoration: none;
	font-family: 'Gilroy', sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #828282;
}

.nav-menu-item-link:hover{
	color: #070707;
	transition: color .4s linear;
}

.nav-menu-item:first-child a{
	color: #070707;
}

.denisNovik-list{
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}