html, body {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'Gilroy';
	src: url(../fonts/Gilroy-Medium.ttf) format('ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'Gilroy';
	src: url(../fonts/Gilroy-Bold.ttf) format('ttf');
	font-weight: 700;
}

.container{
	margin: 0 250px;
}

.nav-menu-list{
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin-top: 30px;
	margin-bottom: 30px;
}

.nav-menu-item-link{
	text-decoration: none;
	font-family: 'Gilroy', sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #828282;
}

.nav-menu-item-link:hover{
	color: #070707;
	transition: color .4s linear;
}

.nav-menu-item:first-child a{
	color: #070707;
}

hr{
	margin: 0;
	margin-bottom: 40px;
}

.denisNovik-short-info{
	margin-bottom: 30px;
}

.denisNovik-list{
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}

.denisNovik-item{
	font-family: 'Gilroy', sans-serif;
	font-weight: medium;
	font-size: 18px;
	line-height: 22px;
	color: #070707;
	max-width: 160px;
	display: flex;
	align-self: flex-end;
}

.denisNovik-item:first-child{
	font-family: 'Gilroy', sans-serif;
	font-weight: bold;
	font-size: 47px;
	line-height: 59px;
	color: #070707;
	max-width: 123px;
}

.denisNovik-item:last-child{
	font-family: 'Gilroy',sans-serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #828282;
	transform: rotate(-90deg);
	max-width: 20px;
	justify-content: flex-start;
}

.denisNovik-item:last-child button, .denisNovik-item:last-child p{
	font-family: 'Gilroy',sans-serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #828282;
	border: none;
	background-color: #FFFFFF;
	cursor: pointer;
	margin: 0;
	padding: 0;
}

.photo-main-content{
	width: 100%;
}