html, body,h2 {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'Gilroy';
	src: url(../fonts/Gilroy-Medium.ttf) format('ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'Gilroy';
	src: url(../fonts/Gilroy-Bold.ttf) format('ttf');
	font-weight: 700;
}

.container{
	margin: 0 250px;
}

.nav-menu-list{
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin-top: 30px;
	margin-bottom: 30px;
}

.nav-menu-item-link{
	text-decoration: none;
	font-family: 'Gilroy', sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #828282;
	transition: color 0.3s linear;
}

.nav-menu-item-link:hover{
	color: #070707;
	transition: color .4s linear;
}

.nav-menu-item:first-child a{
	color: #070707;
}

hr{
	margin: 0;
	margin-bottom: 40px;
}

.denisNovik-content{
	margin-bottom: 100px;
}

.denisNovik-short-info{
	margin-bottom: 30px;
}

.denisNovik-list{
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}

.denisNovik-item{
	font-family: 'Gilroy', sans-serif;
	font-weight: medium;
	font-size: 18px;
	line-height: 22px;
	color: #070707;
	max-width: 160px;
	display: flex;
	align-self: flex-end;
}

.denisNovik-item:first-child{
	font-family: 'Gilroy', sans-serif;
	font-weight: bold;
	font-size: 47px;
	line-height: 59px;
	color: #070707;
	max-width: 123px;
}

.denisNovik-item:last-child{
	font-family: 'Gilroy',sans-serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #828282;
	transform: rotate(-90deg);
	max-width: 20px;
	justify-content: flex-start;
}

.denisNovik-item:last-child button, .denisNovik-item:last-child p{
	font-family: 'Gilroy',sans-serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	border: none;
	background-color: #FFFFFF;
	cursor: pointer;
	margin: 0;
	padding: 0;
	z-index: 1;
}

.button-lang-ENG{
	color: #070707;
}

.button-lang-UA{
	color: #828282;
}

.denisNovik-item:last-child p{
	color: #070707;
} 

.photo-main-content{
	width: 100%;
}

.about-me{
	background: #F6F6F6;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 90px;
}

.about-me-inner{
	padding: 110px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-me-title{
	margin-bottom: 20px;
	font-family: 'Gilroy',sans-serif;
	font-size: 34px;
	line-height: 42px;
	font-weight: bold;
	color: #070707;
}

.about-me-list{
	margin: 0;
	padding: 0;
	list-style-type: none;
	max-width: 480px;
}

.about-me-item{
	text-align: center;
	margin-bottom: 30px;
	font-family: 'Gilroy', sans-serif;
	font-weight: medium;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #070707;
}

.skills-inner{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.skills-title{
	font-family: 'Gilroy', sans-serif;
	font-weight: bold;
	font-size: 34px;
	line-height: 42px;
	text-align: center;
	color: #070707;
	margin-bottom: 70px;
}

.skills-text{
	margin: 0;
	font-family: 'Gilroy',sans-serif;
	font-weight: medium;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #070707;
	margin-bottom: 85px;
}

.programs-skills-list{
	margin: 0;
	padding: 0;
	width: 100%;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}

.programs-skills-photo{
	margin-bottom: 30px;
}

.programs-skills-item-text{
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Gilroy',sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #828282;
}

.skills{
	margin-bottom: 110px;
}

.portfolio-inner{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.portfolio-title{
	font-family: 'Gilroy',sans-serif;
	font-weight: bold;
	font-size: 34px;
	line-height: 42px;
	text-align: center;
	color: #070707;
	margin-bottom: 50px;
}

.portfolio-list{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.portfolio-item{
	margin-bottom: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.portfolio-image{
	width: 100%;
	margin-bottom: 45px;
}

.portfolio-image-link{
	font-family: 'Gilroy', sans-serif;
	font-weight: medium;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	text-decoration-line: underline;
	color: #070707;
}
